<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Groceries List App</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Welcome to the Groceries List app!</h1>
    <p>An app for creating your groceries lists.</p>
    <div>
      <form action="/items/new">
          <button>Start List</button>
      </form>
      <form action="/items/">
        <button>See Current List</button>
      </form>
    </div>
  </body>
</html>
